---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./cilium/ks.yaml
  - ./coredns/ks.yaml
  # - ./csi-driver-nfs/ks.yaml
  - ./csi-driver-smb/ks.yaml
  # - ./descheduler/ks.yaml
  - ./external-secrets/ks.yaml
  - ./local-path-provisioner/ks.yaml
  - ./metrics-server/ks.yaml
  - ./reloader/ks.yaml
  - ./snapshot-controller/ks.yaml